<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954263127771-aag0c4kj9blk6rhv05cin84ut1j0jlgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954263127771-aag0c4kj9blk6rhv05cin84ut1j0jlgq</string>
	<key>API_KEY</key>
	<string>AIzaSyCllhCUwQUbN94kQlBTXAHDCXJ7IT6q4Cg</string>
	<key>GCM_SENDER_ID</key>
	<string>954263127771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dailypulse.dailyPulseTracker</string>
	<key>PROJECT_ID</key>
	<string>auth-login-a170e</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-login-a170e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954263127771:ios:84fb2dea97ad8c41762efe</string>
</dict>
</plist>